{% extends 'lptblog/base.html' %}

{% block content %}

    <h1>{{ post.title }}</h1>

    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>

    {{ post.body|linebreaks }}

    <!-- Hiển thị bình luận -->
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} Bình luận
        </h2>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Bình luận {{ forloop.counter }} bởi {{ comment.name }} {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>

    {% empty %}
        <p>Không có bình luận</p>
    {% endfor %}

    {% if new_comment %}
        <h2>Đã thêm bình luận mới</h2>
    {% else %}
        <h2>Bình luận cho bài viết</h2>
        <form method="POST">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p>
                <input type="submit" value="Add Commemt">
            </p>
        </form>
    {% endif %}
{% endblock %}